@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Inter:wght@300;400;500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: #000;
    font-family: 'Inter', sans-serif;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000 ;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    padding: 15px 40px;

    background: rgba(0, 0, 0, 0.4); /* transparente */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.logotipo {
    justify-self: center;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    color: white;
    letter-spacing: 2px;
}


.nav-left {
    justify-self: start;
}


.nav-right {
    justify-self: end;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}


.nav-links a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 1px;
    background: white;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    opacity: 0.7;
}


.hero {
  height: 100vh;
  background: url('/imgs/teste.png') center/cover no-repeat;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* conteúdo central */
.hero-content {
  position: relative;
  text-align: center;
  color: white;
  max-width: 800px;
  padding: 20px;
}

/* título */
.hero-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 64px;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

/* texto */
.hero-content p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  opacity: 0.8;
}